{% extends 'base.html.twig' %}

{% block title %}FLights{% endblock %}

{% block body %}
    <h1>Flights</h1>

    {% for flight in flights %}
        <ul>
            <li>{{ flight.pointOfDeparture }} - {{ flight.arrivalPoint }} - <a href="/admin/supervisor/flights/remove/{{ flight.id }}">Remove</a>, <a href="/admin/supervisor/flights/edit/{{ flight.id }}">Edit</a> </li>
        </ul>
    {% endfor %}
{% endblock %}