{% extends 'base.html.twig' %}

{% block title %}Completion{% endblock %}

{% block body %}
<div class="generalInformation">
    {% if user.name %} 
        {{ user.name }} your tickets in your Email. 
    {% else %}
        Your tickets in your Email. 
    {% endif %}
</div>
{% endblock %}
