{% extends 'base.html.twig' %}

{% block title %}Confirmation{% endblock %}

{% block body %}
<div class="conteinerForm">
    <form action="{{ path('confirmation') }}">
        <div class="form">
            {% for ticket in tickets %}
                <div>
                <label for="name">Name for ticket {{ ticket.seatNumber }}:</label><br>
                <input class="inputField" type="text" id="name" name="names[{{ ticket.id }}]"><br>
            </div>
            {% endfor %}
            {# <div class="formField">
                <label for="name">Name:</label><br>
                <input class="inputField" type="text" id="name" name="name" value={{ userName }}><br>
            </div> #}
            <div>
                <label for="email">Email:</label><br>
                <input class="inputField" type="text" id="email" name="email">
            </div>
            <div class="conteinerButton">
                <button class="btnForm" type="submit">Book</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
