{% extends 'base.html.twig' %}

{% block title %}Welcome to SymfonyAir{% endblock %}

{% block body %}
    <a href="{{ path('admin_login') }}">Admin Login</a>
    <a href="{{ path('admin_register') }}">Admin SignIn</a>
{% endblock %}
