.checkedTicket {
    background-color: rgb(180,212,227);
    display: flex;
    width: 50%;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.2em;
}

#checked {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 10px;
}

.btnChoose {
    border: none;
    border-radius: 5%;
    width: 80px;
    height: 40px;
    font-size: 1.2em;
    background-color: white;
}

.btnChoose:hover {
    cursor: pointer;
    background-color: rgb(65, 108, 151);
}

.btnChoose:active {
    background-color: rgb(4, 69, 134);
}