{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
<div class="conteinerForm">
    <form action="{{ path('app_login') }}" method="post">
        <div class="form">
            <div class="formField">
                <label for="username">Email:</label>
                <input class="inputField" type="text" id="username" name="_username" value="{{ last_username }}">
            </div>
            <div class="formField">
                <label for="password">Password:</label>
                <input class="inputField" type="password" id="password" name="_password">
            </div>
            <div class="conteinerButton">
                <button class="btnForm" type="submit">login</button>
            </div>
        </div>
    </form>    
</div>
<div class="conteinerMenu">
    <a class="btnMenu" href="{{ path('connect_google_start') }}">With google</a>
</div>
    {% endblock %}
