{% extends 'mail.html.twig' %}

{% block title %}Your ticket{% endblock %}

{% block body %}

    
    {% if ticketNumbers|length < 1 %} 
        <p>Ooops, you don't book any tickets</p> 
    {% elseif ticketNumbers|length == 1 %}
        <p>Your tickets number:</p>
        {{ ticketNumbers[0] }}
    {% else %} 
        <p>Your tickets numbers:</p>
        {% for ticketNumber in ticketNumbers %}
            <p>{{ ticketNumber }}</p>
        {% endfor %}
    {% endif %}

{% endblock %}
